.about-me {
  margin-top: 100px;
  padding-bottom: 100px;
  position: relative;

  @media (max-width: 991px) {
    margin-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 575px) {
    padding-bottom: 98px;
  }

  .col-12:first-of-type {
    padding-right: 4rem;

    @media (max-width: 1199px) {
      padding-right: 2rem;
    }

    @media (max-width: 991px) {
      padding-right: 1rem;
    }

    @media (max-width: 767px) {
      padding-right: 15px;
    }

    .section {
      position: relative;
      top: 0;
      margin-bottom: 90px;

      &-headline {
        margin-bottom: 25px;

        @media (max-width: 991px) {
          margin-bottom: 20px;
        }
      }

      @media (max-width: 991px) {
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .col-12:last-of-type {
    padding-left: 4rem;

    @media (max-width: 1199px) {
      padding-left: 2rem;
    }

    @media (max-width: 991px) {
      padding-left: 1rem;
    }

    @media (max-width: 767px) {
      padding-left: 15px;
    }

    &::before {
      content: "";
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &_navigation {
    position: absolute;
    top: 0;
    left: 4rem;
    width: calc(100% - 5rem);

    @media (max-width: 1199px) {
      left: 2rem;
      width: calc(100% - 3rem);
    }

    @media (max-width: 991px) {
      left: 1rem;
      width: calc(100% - 2rem);
    }

    @media (max-width: 767px) {
      position: relative;
      width: 100%;
      left: 0;
      margin-bottom: 50px;
      width: 100%;
    }

    &.sticky {
      position: fixed !important;
    }

    &.stay-to-bottom {
      position: absolute !important;
      top: initial !important;
      left: 4rem !important;
      width: calc(100% - 5rem) !important;
      bottom: 0;

      @media (max-width: 1199px) {
        left: 2rem !important;
        width: calc(100% - 3rem) !important;
      }

      @media (max-width: 991px) {
        left: 1rem !important;
        width: calc(100% - 2rem) !important;
      }
    }

    &.stay-to-top {
      left: 4rem !important;
      width: calc(100% - 5rem) !important;
      top: 0 !important;

      @media (max-width: 1199px) {
        left: 2rem !important;
        width: calc(100% - 3rem) !important;
      }

      @media (max-width: 991px) {
        left: 1rem !important;
        width: calc(100% - 2rem) !important;
      }
    }
  }

  .my-career {
    margin-top: 45px;

    li {
      background-color: rgba($color-primary, 0.5);
      padding: 12px 0;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      -webkit-transition: background-color 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out;
      -ms-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;

      &:not(:last-of-type) {
        margin-bottom: 1px;
      }

      &.active {
        background-color: $color-primary;
      }

      p,
      span {
        font-family: $font-poppins;
        font-weight: 500;
      }

      span {
        padding-left: 25px;
        padding-right: 50px;
        white-space: nowrap;

        @media (max-width: 991px) {
          padding-left: 15px;
          padding-right: 30px;
        }
      }
    }
  }

  .my-career--mobile {
    display: none;

    @media (max-width: 767px) {
      display: block;
      position: fixed;
      bottom: -100px;
      left: 0;
      width: 100%;
      z-index: 100;
      background-color: rgba($color-primary, 1);
      @include transition(bottom 0.3s ease-in-out);

      &.show {
        bottom: 0;
      }

      &.stop-to-bottom {
        position: absolute;
        bottom: 0;
      }

      li {
        cursor: pointer;
        padding: 5px 0;
        font-family: $font-poppins;
        font-weight: 600;
        width: 100%;
        text-align: center;

        &.active {
          background-color: $color-dark;
          color: $color-primary;
        }
      }
    }
  }
}
