.logos-slider {
  position: relative;
  background-color: $color-primary;
  padding: 2px 0;

  .slick-slide {
    padding: 0 1px;

    canvas {
      display: block;
      width: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-bottom: 50%;
    }
  }
}
