.portfolio {
  padding: 150px 0;

  @media (max-width: 991px) {
    padding: 60px 0;
  }

  .section {
    max-width: 850px;
    margin: 0 auto;

    &-headline {
      margin-bottom: 30px;
    }
  }

  &_grid {
    margin-top: 65px;

    @media (max-width: 991px) {
      margin-top: 40px;
    }

    &-container {
      margin: -10px;
    }

    &-item {
      padding: 10px;

      &.hidden {
        display: none;
      }
    }
  }

  &_action {
    margin-top: 70px;
  }
}
