// ================== fonts

$font-heading-medium: "Lufga-Medium";
$font-heading-semibolditalic: "Lufga-SemiBoldItalic";
$font-heading-semibold: "Lufga-SemiBold";
$font-heading-italic: "Lufga-Italic";
$font-heading-bold: "Lufga-Bold";

$font-poppins: "Poppins", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-rocksalt: "Rock Salt", cursive;
$font-marketweb: "MarketWeb W03 Regular";

$font-weight-regular: "400";
$font-weight-medium: "500";
$font-weight-semibold: "600";
$font-weight-bold: "700";

// ================== colors

$color-dark: #030303;
$color-darker: #000000;
$color-light: #ffffff;
$color-primary: #f7d73b;
$color-secondary: #191919;

$text-dark-primary: $color-darker;
$text-dark-secondary: $color-dark;
